.east-chart {
  display: grid;
  grid-template-columns: repeat(3, 145px);
  grid-template-rows: repeat(3, 145px);
  border: 6px solid black;
  background-color: black;
  gap: 2px;
  width: 450px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 1640px) {
  .east-chart {
    width: 95vw !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    max-width: 96vw !important;
    min-width: 0 !important;
    height: 95vw !important;
  }
  .east-chart > div {
    min-width: 0 !important;
    min-height: 0 !important;
  }
}