@media (max-width: 1366px) {
  .chart-selector-row {
    width: 100% !important;
    margin-left: 0 !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 8px;
  }
}